*{
    padding:0;
    margin:0;
    box-sizing : border-box;
}
#canvas{
    box-shadow: -3px 2px 9px 6px black;
    margin-left: 25px;
    margin-top:25px;
}
.tools{
    display:flex;
    margin-top:5px;
    justify-content: space-around;
    align-items: center;
}
.colors{
    display:flex;
}
.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width:40px;
    cursor:pointer;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 3px;
}

.tools .button{
    width:100px;
    height:40px;
    border: 2px solid white;
    cursor: pointer;
    color:white;
    background: #222;
    font-weight:bold;
    border-radius:10px;
    
}
.tools .button:hover{
    opacity:0.9;
}

.color-picker{
    height: 50px;
    border-radius: 4px;
}
